<div class="bg-black pt-2">
    <div class=" flex flex-row  p-5 justify-around h-16">
        <button class="w-6 h-auto flex items-center">
            <img class="" src="assets/images/cruz.svg" alt=""> 
        </button>
        <div class="h-auto flex flex-1 items-center justify-center pl-10">
            <a href="#"><img src="assets/images/logo.png" alt="Imagen logo"></a>
        </div>
        <button class="w-6 h-auto flex">
            <img src="assets/images/map-blanco.svg" alt="">
        </button>
        <button class="w-6 h-auto flex ml-2">
            <img src="assets/images/bag-blanco.svg" alt="">
        </button>
    </div>

    <nav class="bg-black flex flex-col pb-40 pt-10">
        <button><a href=" " class="menu-rosa">Shop all</a></button>
        <button><a href=" " class="menu-blanco">3 x 2</a></button>
        <button><a href=" " class="menu-blanco">Anillos</a></button>
        <button><a href=" " class="menu-blanco">Aretes</a></button>
        <button><a href=" " class="menu-blanco">Brazaletes</a></button>
        <button><a href=" " class="menu-blanco">Broches</a></button>
        <button><a href=" " class="menu-blanco">Charms</a></button>
        <button><a href=" " class="menu-blanco">Collares y Dijes</a></button>
        <button><a href=" " class="menu-blanco">Otros</a></button>

    </nav>
</div>