<app-modal #modalComponent>
    <h2 tabindex="0" class="uppercase font-semibold"> {{'registracion.cambiarPass' | translate}} </h2>
    <hr class="mt-1 border-t-2 border-principal w-full">
    <form class="mt-6 flex flex-col w-full">
        <p class="mb-5 text-sm uppercase text-gris-medio">{{'registracion.nuevaPassTitle' | translate}}</p>
        <input [(ngModel)]="data.password" type="password" name="password" class="mb-3 mt-1 px-3 py-2 w-full focus:border-principal rounded border border-gris-medio outline-none" autocomplete="off" placeholder=" {{'placeholders.password' | translate}} " required>
        <input [(ngModel)]="data.password2" type="password" name="password2" class="mb-3 mt-1 px-3 py-2 w-full focus:border-principal rounded border border-gris-medio outline-none" autocomplete="off" placeholder=" {{'placeholders.passwordRepeat' | translate}} "
            required>

        <button [disabled]="data.password === ''" (click)="send()" class="bg-principal hover:bg-wholesale-principal text-white hover:text-principal p-2 rounded border border-principal w-full mb-2" id="login" type="submit">{{'buttons.enviar' | translate}} </button>
    </form>
</app-modal>

<ng-template #toolbar>
</ng-template>