<section>
    <!--  wish paginas aqui -->
    <!--<div class="relative h-52 sm:h-40 lg:h-60 w-full flex flex-col p-6 justify-center gap-y-6 overflow-hidden">
        <picture>
            <source media="(min-width:640px)" srcset="assets/images/header-paginas.jpg">
            <img class="overflow-hidden absolute left-0 top-0 w-full h-full object-cover object-center z-0" src="assets/images/header-paginas-mobile.jpg" alt="Banner Promoción" width="auto">
        </picture>
    </div>-->


    <div class="w-full max-w-screen-lg flex flex-col px-10 xs:px-14 lg:px-0 mx-auto mt-8">
        <h1 class="py-2 mt-6 text-sm md:text-xl font-semibold font-poppins uppercase whitespace-nowrap"> Terms & Conditions </h1>

        <h2 class="text-xl pb-2">SECTION 1 - WHAT DO WE DO WITH YOUR INFORMATION?</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Pretium viverra suspendisse potenti nullam. Non quam lacus suspendisse faucibus. Rhoncus dolor purus non enim. Eget mi
            proin sed libero. Malesuada nunc vel risus commodo. Facilisis sed odio morbi quis commodo odio. Quam elementum pulvinar etiam non quam lacus. Egestas sed tempus urna et. Sagittis eu volutpat odio facilisis mauris sit amet. Pulvinar pellentesque
            habitant morbi tristique senectus et. Blandit aliquam etiam erat velit scelerisque in dictum non. A erat nam at lectus urna. Pellentesque habitant morbi tristique senectus et netus. Id consectetur purus ut faucibus.
        </p>

        <h2 class="text-xl pb-1 mt-6">SECTION 2 - CONSENT</h2>
        <p>How do you get my consent?</p>
        <p>Cursus turpis massa tincidunt dui ut ornare. Eget gravida cum sociis natoque penatibus et magnis dis parturient. Id eu nisl nunc mi ipsum faucibus vitae aliquet nec. Tortor at auctor urna nunc id. Ornare lectus sit amet est. Cursus turpis massa
            tincidunt dui ut ornare lectus. Habitant morbi tristique senectus et netus. Feugiat scelerisque varius morbi enim nunc faucibus. Odio euismod lacinia at quis risus sed. Nisi lacus sed viverra tellus in hac habitasse.
            <br>
        </p>

        <h2 class="text-xl pb-1 mt-6">SECTION 3 - DISCLOSURE</h2>
        <p>Tincidunt eget nullam non nisi est. Lectus sit amet est placerat in egestas. Quis auctor elit sed vulputate mi sit amet. Nulla aliquet porttitor lacus luctus accumsan tortor posuere. Fusce ut placerat orci nulla pellentesque dignissim. Mi tempus
            imperdiet nulla malesuada pellentesque elit eget gravida cum. Imperdiet sed euismod nisi porta lorem mollis. Sapien pellentesque habitant morbi tristique senectus et netus. Vitae nunc sed velit dignissim sodales ut eu. Natoque penatibus et
            magnis dis parturient. Convallis a cras semper auctor. Mauris nunc congue nisi vitae suscipit. Gravida quis blandit turpis cursus in hac habitasse platea dictumst. Sed vulputate odio ut enim blandit volutpat maecenas volutpat blandit. Amet
            risus nullam eget felis.</p>

        <h2 class="text-xl pb-1 mt-6">SECTION 4 - SHOPIFY</h2>
        <p>Diam phasellus vestibulum lorem sed risus ultricies tristique nulla. Nunc faucibus a pellentesque sit amet. Id neque aliquam vestibulum morbi blandit cursus risus at. Leo vel orci porta non pulvinar. Tellus in metus vulputate eu scelerisque felis.
            Pulvinar mattis nunc sed blandit libero volutpat sed cras. Feugiat scelerisque varius morbi enim nunc faucibus a pellentesque. Sed egestas egestas fringilla phasellus faucibus. Tempor commodo ullamcorper a lacus. Duis at tellus at urna condimentum.
            Egestas erat imperdiet sed euismod nisi. Aliquam malesuada bibendum arcu vitae elementum curabitur. Consectetur adipiscing elit ut aliquam purus sit.
            <br>
        </p>
        <br>
        <p>Payment:</p>
        <p>Purus gravida quis blandit turpis cursus in hac. Enim nunc faucibus a pellentesque sit amet porttitor eget dolor. Lacinia quis vel eros donec. Lacus vel facilisis volutpat est velit. Duis ultricies lacus sed turpis tincidunt id aliquet risus.
            Vitae congue eu consequat ac felis. In fermentum et sollicitudin ac orci. Dolor sit amet consectetur adipiscing elit ut aliquam. Vivamus at augue eget arcu dictum varius duis at consectetur. Aliquet sagittis id consectetur purus. Gravida arcu
            ac tortor dignissim convallis aenean et tortor at. Nisi est sit amet facilisis magna etiam. Tincidunt praesent semper feugiat nibh sed pulvinar. Egestas sed sed risus pretium quam vulputate dignissim suspendisse in. Sed risus pretium quam
            vulputate dignissim suspendisse in est. Maecenas ultricies mi eget mauris pharetra. Velit egestas dui id ornare arcu odio ut sem nulla. Eu nisl nunc mi ipsum faucibus vitae aliquet. Viverra mauris in aliquam sem fringilla ut.
        </p>
    </div>

</section>