<div>
    <div class="flex flex-row p-6 max-w-screen-2xl">
        <div class="w-full flex justify-left text-2xl p-6 tracking-wide font-light">
            <p class="font-light"> {{'pageTurnos.miReserva' | translate}} </p>
        </div>
        <div class="py-4">
            <button routerLink="/{{id_store_current}}" class="flex flex-row bg-principal border border-principal text-center py-2 px-5 place-items-center lg:w-full lg:m-0">
                <p class="text-white txt-boton-rosa flex-1 lg:w-full mr-4">{{'buttons.volver' | translate}} </p>
            </button>
        </div>

    </div>

    <div class="bg-white flex flex-col w-full px-6 py-10 mb-40 justify-center max-w-screen-2xl">
        <div class="flex flex-col justify-center">
            <div class=" w-full flex justify-center mb-4">
                <div class="check">
                    <img src="/assets/images/check.svg" alt="">
                </div>

            </div>
            <div class="w-full flex justify-center mb-4">
                <p class="text-3xl ">{{'pageTurnos.reservaConfirmada' | translate}} </p>
            </div>
            <div class="w-full flex flex-col justify-center  mb-4">
                <p class="w-full flex justify-center">{{'pageTurnos.mailConfirmacion' | translate}}</p>

                <p class="w-full flex justify-center lg:hidden">{{'pageTurnos.muchas_gracias' | translate}}</p>
                <div class="w-full flex justify-center">
                    <button routerLink="/{{id_store_current}}" class="hidden lg:flex bg-white text-center w-min-w px-4 justify-center h-full  my-4">
                        <p class="text-principal text-sm  self-center lg:w-full mr-4"> {{'buttons.volver' | translate}} </p>
                    </button>
                </div>


            </div>
        </div>

        <div class="hidden w-full lg:flex justify-center">
            <div class="reserva-intro md:w-9/12 lg:w-6/12 lg:flex lg:flex-col">
                <div class="flex flex-row space-x-4 pb-4">
                    <span class="material-icons-outlined self-center text-principal">date_range</span>
                    <p class="text-principal self-center text-2xl"> {{'pageTurnos.tuReserva' | translate}} </p>
                </div>

                <div>
                    <p class="text-sm">{{'pageTurnos.servicio' | translate}}:</p>
                    <p class="text-xl font-semibold py-1">{{category.name}}</p>
                    <p class="text-sm py-1">{{service.name}}</p>

                    <div class="flex flex-row space-x-2 mt-5 mb-3">
                        <span class="material-icons-outlined self-center">date_range</span>
                        <p class="self-center">{{dateSelected}}</p>
                    </div>
                    <div class="flex flex-row space-x-2 my-3">
                        <span class="material-icons-outlined self-center">watch</span>
                        <p class="text-base font-normal sel-center"> {{'pageTurnos.a_las' | translate}} 12:30</p>
                    </div>
                    <div class="flex flex-row space-x-2 my-3">
                        <span class="material-icons self-center">timer</span>
                        <p class="text-base font-normal self-center">{{'pageTurnos.duracion' | translate}}: {{service.duration}} {{'pageTurnos.minutos' | translate}}</p>
                    </div>
                    <div class="flex flex-row space-x-2 my-3">
                        <span class="material-icons-outlined flex self-center">fmd_good</span>
                        <p class="text-base font-normal self-center">{{store.country | uppercase}}, {{store.city | uppercase}}</p>
                    </div>

                    <div class="grid grid-cols-2 grid-rows-2 gap-x-4 gap-y-4 border-t-2 border-black py-6 mt-5">
                        <div>
                            <p class="pb-1 text-xs">{{'formCustomer.nombre' | translate}}:</p>
                            <p class="text-sm">{{customer.name}}</p>
                        </div>
                        <div>
                            <p class="pb-1 text-xs">{{'formCustomer.apellido' | translate}}:</p>
                            <p class="text-sm">{{customer.lastname}}</p>
                        </div>
                        <div>
                            <p class="pb-1 text-xs">{{'formCustomer.email' | translate}}:</p>
                            <p class="text-sm">{{customer.email}}</p>
                        </div>
                        <div>
                            <p class="pb-1 text-xs">{{'formCustomer.telefono' | translate}}:</p>
                            <p class="text-sm">{{customer.phone}}</p>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>