<div class="bg-white py-5 ">
    <div class="py-10 lanzamiento-fondo">
        <div>
            <div class="my-6">
                <p class="text-white titulo-lanzam">LANZAMIENTOS</p>
            </div>
        </div>

        <div class="flex flex-row mx-16 w-auto">
            <button class="flex self-center"><img  src="assets/images/arrow-left-product.svg" alt=""></button>

            <div class="flex flex-1 justify-center min-w-min">
                <div class="producto-lanza flex flex-col justify-center bg-white cursor-pointer sm:hover:box-shadow sm:hover:shadow pb-6 sm:w-auto ">

                    <div class="w-auto flex justify-center"><img class="w-3/5 h-auto rounded-full " src="assets/images/pulsera-reflex.jpg" alt="Pulsera reflex"> </div>
                    <div class="text-center mt-2">
                        <p class="font-poppins font-normal leading-6">Pulsera PANDORA reflexions</p>
                    </div>
                    <div class="text-center mt-2">
                        <p class="font-poppins font-normal leading-6">$1.116.000</p>
                    </div>
                    <div class="text-center mt-2 mb-2 place-items-center">
                        <button class="border border-principal text-principal hover:text-white hover:bg-principal text-center place-items-center py-2 px-5 h-full w-45">
                            <p class="font-poppins font-normal text-sm tracking-wide">Agregar al carrito </p>
                        </button>
                    </div>
                </div>
            </div>

            <button class="flex self-center justify-right"><img src="assets/images/arrow-right-product.svg" alt=""></button>
        </div>

        <div class="flex justify-center mt-10">
            <div><img src="assets/images/nav.svg" alt=""></div>
        </div>
    </div>
</div>