<section class="relative overflow-hidden border-b border-principal-claro md:pb-24 lg:pb-64">
    <!--  wish paginas aqui -->
    <div class="relative h-40 md:h-56 lg:h-60 w-full flex flex-col p-6 justify-center gap-y-6 overflow-hidden">
        <img src="https://s3.amazonaws.com/flexystore.com/images/test/oopsie/M20219071407004.jpg" class="overflow-hidden absolute left-0 top-0 w-full h-full object-cover object-right z-0" alt="">
    </div>
    <!-- curva titulo -->
    <div class="z-10 relative grid grid-cols-12 lg:h-40 -mt-10 sm:-mt-20 lg:-mt-32 xl:-mt-40 pt-10 lg:pt-14 px-5 sm:px-10 pb-5 sm:pb-10 bg-no-repeat" style="background-image: url(/assets/images/curva.svg);background-size: 100%;">
        <div class="col-start-1 col-span-4 row-start-1 w-full text-center pl-4 md:pl-14">
            <!--<h1 class="p-2 text-sm md:text-xl font-semibold font-poppins uppercase whitespace-nowrap"> {{'pageAbout.title' | translate}} </h1>-->
        </div>
    </div>


    <div class="w-full max-w-screen-lg px-10 lg:px-0 mt-10 mx-auto font-poppins">

        <h2 class="font-bold text-xl sm:text-2xl lg:text-3xl mb-2"> {{'pageAbout.bajada' | translate}} </h2>
        <p class="py-2 text-base text-gris-medio"> {{'pageAbout.parrafo1' | translate}} </p>
        <p class="py-2 text-base text-gris-medio"> {{'pageAbout.parrafo2' | translate}} </p>
        <p class="py-2 text-base text-gris-medio"> {{'pageAbout.parrafo3' | translate}} </p>
        <p class="py-2 text-base text-gris-medio"> {{'pageAbout.parrafo4' | translate}} </p>
        <div class="flex flex-col md:flex-row gap-0 md:gap-10 mt-6">
            <div class="py-2">
                <div class="text-2xl md:text-3xl rounded-full bg-secundario w-40 h-40 mx-auto p-3.5 flex flex-col items-center justify-center text-center">
                    <h2 class="font-extrabold leading-7 uppercase"> {{'pageAbout.mision' | translate}} </h2>
                </div>
            </div>
            <div class="w-auto">
                <p class="py-2 text-base"> {{'pageAbout.misionBajada' | translate}} </p>
                <p class="py-2 text-base"> {{'pageAbout.misionParrafo1' | translate}} </p>
                <p class="py-2 text-base"> {{'pageAbout.misionParrafo2' | translate}} </p>
            </div>
        </div>
        <div class="flex flex-col md:flex-row gap-0 md:gap-10 mt-6 md:pr-52">
            <div class="py-2">
                <div class="text-2xl md:text-3xl rounded-full bg-wholesale-secundario w-40 h-40 mx-auto p-3.5 flex flex-col items-center justify-center text-center">
                    <h2 class="font-extrabold leading-7 uppercase"> {{'pageAbout.quienesomos' | translate}} </h2>
                </div>
            </div>
            <div class="w-auto">
                <p class="py-2 text-base">{{'pageAbout.quienesomosParrafo1' | translate}} </p>
                <p class="py-2 text-base">{{'pageAbout.quienesomosParrafo2' | translate}} </p>
            </div>
        </div>
    </div>

    <!-- Imagen de fondo -->
    <img src="/assets/images/bg-about.jpg" class="md:absolute bottom-0 right-0 md:-right-20 lg:-right-32 xl:right-0" style="z-index:-1" alt="deco">
</section>